.header_container {
    height: calc(100vh - 4.1rem);
    background-color: var(--primaryHC);
    overflow: hidden;
}









@media screen and (min-width: 768px) {
    .header_container {
        height: calc(100vh - 5.1rem);
    }
}