.header_container {
    padding: 1rem;
    height: calc(100vh - 4.1rem);
    background-color: var(--primaryC);
    overflow: hidden;
}









@media screen and (min-width: 768px) {
    .header_container {
        height: calc(100vh - 5.1rem);
        padding: 2rem;
    }
}