.mySwiper{
    max-width: var(--maxW);
}

.swiper-wrapper{
    height: 100%;
}

.itemSlide_container{
    border-radius: 30px;
    overflow: hidden;    
    width: 100%;
    position: relative;
    height: 100%;
}

.itemSlide_container img{
    height: 100vh;
    object-fit: contain;
    margin: 0 auto;
}

.motion_container {
    width: 50%;
    max-width: 490px;
    height: 70%;
    max-height: 480px;
    overflow: hidden;
    padding: 3.5rem;
    background: #24345C90;
    border-radius: 0 15px 15px 0;
    left: 0;
    color: #fff
  }

  .motion_item_title{
    text-align: justify;
    font-size: 24px;
  }

  .motion_item_descriptive{
    font-size: 22px;
    font-weight: 200;
    text-align: start;
  }

  .motion_item_actions{
    margin: 1rem 0;
    gap: 1rem;
  }

  .motion_item_detail{
    font-size: 16px;
    font-weight: 200;
    text-align: start;
  }

  .mySwiper_m{
    height: 80vh !important;
    width: 90% !important;
    border-radius: 15px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide h2{
    background-color: #24345c9f;
    padding: 1rem 2rem;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--secondaryC);
    color: #fff;
    bottom: 0;
  }

  .mySwiperCards{
    width: 100%;
    max-width: var(--maxW);
  }

  .slide_card_review{
    width: 270px !important;
    height: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 10px var(--containerC);
    margin: 2rem;
    border-radius: 5px;
  }

  .card_review_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid var(--secondaryC);
    overflow: hidden;
    top: -30px;
    left: calc(50% - 40px);
  }

  .card_review{
    padding: 60px 1rem 1rem 1rem;
    text-align: justify;
    font-size: 14px;
    color: var(--secondaryTC);
    justify-content: space-between;
  }

  .card_review_info{
    gap: 2rem;
  }

  .card_review_info img{
    width: 19px;
    top: 0;
    left: 5px;
  }

  .card_review_info span{
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
  }
  

  @media screen and (min-width: 768px){
    .itemSlide_container img{
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
  }