.swiper-wrapper {
  height: 100%;
}

.itemSlide_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.itemSlide_container img {
  object-fit: contain;
  margin: 0 auto;
}

.motion_container {
  width: 90%;
  max-width: 700px;
  height: 95%;
  max-height: 480px;
  padding: 3.5rem;
  background: #1c1c1caf;
  border-radius: 15px;
  color: #fff;
}

.motion_item_title {
  text-align: justify;
}

.motion_item_descriptive {
  font-size: 22px;
  font-weight: 200;
  text-align: start;
}

.motion_item_actions {
  margin: 1rem 0;
  gap: 1rem;
}

.motion_item_detail {
  font-size: 16px;
  font-weight: 200;
  text-align: start;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide h2 {
  background-color: #c77d9d79;
  padding: 1rem 2rem;
  border-radius: 10px 0 10px 0;
  border: 1px solid var(--secondaryC);
  color: #fff;
  bottom: 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: var(--secondaryC);
}

.swiper-pagination-bullet {
  background: var(--primaryC);
}

@media screen and (min-width: 768px) {
  .itemSlide_container img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  .swiper-button-next,
.swiper-button-prev {
  display: flex;
  color: var(--secondaryC);
}
}
