nav {
  background-color: var(--primaryHC);
  padding: 0.5rem;
  height: 4rem;
  box-shadow: 0px 0px 2px var(--secondaryC);
}

.btn_nav {
  width: 40%;
  max-width: 300px;
}

.menu_nav {
  display: none;
}

.logo_nav {
  width: 40%;
  max-width: 200px;
  justify-content: start;
  align-items: flex-start;
}

.logo_nav img {
  max-height: 3.5rem;
  object-fit: contain;
}

.primnary_btn {
  background: linear-gradient(90deg, var(--primaryC), var(--secondaryC));
  color: var(--secondaryTC);
  padding: 0.5rem 1rem;
  border: none;
}

.ll_banner {
  background: linear-gradient(270deg, #fff, #463597, #463597, #000);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  color: var(--secondaryCC);
  height: 5rem;
}

.banner_img_container {
  width: 80px;
  height: 80px;
}

.banner_img_container img {
  height: 120%;
  object-fit: contain;
  transform: rotate(5deg);
}

.ll_banner:hover img {
  filter: drop-shadow(0 0 25px #fff);
  transition: all 0.3s ease-in-out;
}

.ll_banner:hover h1 {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  nav {
    height: 5rem;
    padding: 0.5rem 2rem;
  }

  .primnary_btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    white-space: nowrap;
  }

  .logo_nav img {
    max-height: 4.5rem;
    object-fit: contain;
  }
  .menu_nav {
    display: flex;
    gap: 1rem;
  }
  .menu_nav li:hover {
    color: var(--secondaryC);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .ll_banner {
    font-size: 1.5rem;
    height: 7rem;
  }
  .banner_img_container img {
    height: 160%;
    object-fit: contain;
    transform: rotate(5deg);
  }
}
